@model DoktormandenDk.Models.EConsultation

@{
    ViewData["Title"] = "Opret besked";
}

<h1>Opret besked</h1>

<h4>E-Konsultation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateForPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />
            <input type="hidden" asp-for="QuestionTime" class="form-control" />
            <input type="hidden" asp-for="AnswerTime" class="form-control" />

            <div class="form-group">
                <label asp-for="Patient.Name" class="control-label fw-bold">Patient</label>
                @Html.DisplayFor(model => model.Patient.Name)
            </div>
            <div class="form-group">
                <label asp-for="GPId" class="control-label fw-bold">Læge:</label>
                <select asp-for="GPId" class="form-control" asp-items="ViewBag.GPId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label fw-bold">Dit spørgsmål/besked til lægen</label>
                @Html.TextAreaFor(m => m.Question, new {@class="form-control",@rows=10, @cols=40})
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
           
            <div class="form-group my-2">
                <input type="submit" value="Send besked" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Tilbage til listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
