@{
    ViewData["Title"] = "Doktormanden.Dk Forside";
}
<main class="container">
    
    <div class="row row-cols-2">

        <div class="col-5">
            <h3 class="display-6 mb-3" style="line-height: 1em;"> Velkommen til Doktormanden.Dk</h3>
            <div>
                <p>
                    Du kan på denne side bestille tider til fysiske samtaler, blodprøver,
                    vaccination med mere.
                </p>
                <p>
                   Du har også mulighed for at kontakte vore læger via vores e-konsultation selvbetjenings løsning.</p>
                <p>
                    Har du akut behov for hjælp så ring på telefon <b>53339921</b> eller kontakt vagtlægen,
                     og i særlige alvorlige tilfælde ring 112.
                </p>
            </div>
        </div>

        <div class="col-7"> 
             <img class="img-fluid" src="img/frontpage1.jpg" />
        </div>
    </div>

</main>
