@{
    ViewData["Title"] = "Home Page";
    string TheString = "HAHAHAAHAHA";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<partial name="_HomePart1.cshtml" model="@TheString"/>