
<div class="container" style="max-width: 800px;">
<h1>GDPR</h1>
<hr />
<p>
        Denne privatlivpolitik beskriver, hvordan Doktormanden.DK indsamler og behandler personoplysninger i forbindelse med samarbejdet med vores kunder, leverandører og partnere.
        Doktormanden.DK behandler de oplysninger, du giver os, eller vi indsamler om dig, i overensstemmelse med gældende lovgivning og regler. Vi er bevidste om, at dine oplysninger behandles med respekt for fortrolighed og for dit privatliv.
</p>

 <p>Vi er forpligtet til at overholde persondatalovens bestemmelser og sikkerhedsbekendtgørelsen om behandling af personoplysninger.</p>
    <p>Vi forpligter os til, ikke at benytte kundens personoplysninger til andet end hvad der er nødvendigt for at kundens løsning/produkter fungerer efter hensigten.Vi er forpligtet til, at træffe de nødvendige tekniske og organisatoriske sikkerhedsforanstaltninger mod, at kundens oplysninger hændeligt eller ulovligt tilintetgøres, fortabes eller forringes samt mod, at de kommer til uvedkommendes kendskab.</p>

    <p>Doktormanden.DK videregiver kun personlige oplysninger, hvis det kræves af lovgivningen, eller hvis der foreligger en retskendelse.</p>
    <p>
        Vi er den dataansvarlige hvordan kontakter du os?
        Doktormanden.DK er dataansvarlig for behandlingen af de personoplysninger, som vi har indhentet eller modtaget om dig i forbindelse med en bestilling eller henvendelse.
    </p>
<p>
        Du finder vores kontaktoplysninger nedenfor.
        Doktormanden.DK
        Umulighedsvej 232
        9797 Tybo Øst

</p>
<p>
Formålene med behandlingen af dine personoplysninger.
Vi behandler dine personoplysninger til følgende formål:

Levering af produkter, tjenester og services.
Kundeservice og support.
Relevant information omkring nye  services, herunder opdateringer og anden information der sikrer at din(e) løsninger/produkter fungerer efter hensigten.
Til analyseformål, herunder feedback i form af spørgeskemaer.
Vigtige meddelelser og nyheder via e-mail og almindelig post.
Tilbudsgivning, Kontrakter, aftaler samt til udsendelse af faktura og lign.
Produktudvikling.
Konkurrencer og salgsfremmende tiltag.
Kategorier af personoplysninger
    </p>
    <p>
Vi behandler følgende kategorier af personoplysninger om dig:

Vi indsamler kun ikke følsomme personoplysninger, typisk offentligt tilgængelige oplysninger om virksomhedens:

Navn, cvr-nummer, adresse samt kontaktperson(er).

Modtagere eller kategorier af modtagere
Vi videregiver eller overlader dine personoplysninger til følgende modtagere:

Betroede medarbejderne hos Doktormanden.DK har adgang til dine personoplysninger i det omfang, det er nødvendigt for at kundens løsning/produkter fungerer efter hensigten.

Dine personlige oplysninger opbevares sikkert og fortroligt.
Doktormanden.DK videregiver kun personoplysninger med henblik på levering af produkter og services, herunder forbedring samt når det er nødvendigt for vores almindelige opgavevaretagelse. Oplysninger kan også blive videregivet, hvis det er nødvendigt for, at andre af Doktormanden.DK samarbejdspartnere kan varetage deres opgaver.
    </p>
    <p>
En oversigt over Doktormanden.DK underdatabehandlere finder du på vores hjemmesiden på nedenstående link:

Underdatabehandlere

Opbevaring af dine personoplysninger
Doktormanden.DK kan på nuværende tidspunkt ikke sige, hvor længe vi vil opbevare dine personoplysninger. Oplysninger om dig gemmes så længe vi vurderer, det er nødvendigt for at kunne opfylde vore forpligtelser som leverandør og for at kunne overholde gældende lovgivning, herunder bogførings-loven.

Hvor dine personoplysninger stammer fra
Doktormanden.DK behandler de personoplysninger, som du selv giver til os, eller som vi modtager fra andre virksomheder eller myndigheder. Doktormanden.DK kan også selv indhente oplysninger om dig fra andre virksomheder eller myndigheder, når det er nødvendigt for varetagelsen af Doktormanden.DK opgaver, herunder sikre at din(e) løsninger/produkter fungerer efter hensigten.
    </p><p>
Automatiske afgørelser, herunder profilering
Vi anvender ikke automatiske afgørelser, herunder profilering, som påvirker dig væsentligt i forhold til det registrerede.Retten til at trække samtykke tilbage
    </p><p>
Du har til enhver tid ret til at trække dit samtykke tilbage. Dette kan du gøre ved at kontakte os på de kontaktoplysninger, der fremgår ovenfor. Hvis du vælger at trække dit samtykke tilbage, påvirker det ikke lovligheden af vores behandling af dine personoplysninger på baggrund af dit tidligeremeddelte samtykke og op til tidspunktet for tilbagetrækningen. Hvis du tilbagetrækker dit samtykke, har det derfor først virkning fra dette tidspunkt.Ret til berigtigelse, sletning, begrænsning og indsigelse
    </p>
    <p>
Nedenfor kan du læse om din ret til berigtigelse, sletning, begrænsning og indsigelse.
Hvis du vil gøre brug af dine rettigheder, skal du kontakte os. Ret til berigtigelse (rettelse)

Du har ret til at få urigtig oplysninger om dig selv rettet. Du har også ret til at få dine oplysninger suppleret med yderligere oplysninger, hvis dette vil gøre dine personoplysninger mere fuldstændige og/eller ajourførte.
    </p><p>
Ret til sletning
I visse tilfælde har du ret til at få slettet oplysninger om dig, inden tidspunktet for vores almindelige generelle sletning indtræffer.

Ret til begrænsning af behandling
Du har i visse tilfælde ret til at få behandlingen af dine personoplysninger begrænset. Hvis du har ret til at få begrænset behandlingen, må vi fremover kun behandle oplysningerne _ bortset fra opbevaring _ med dit samtykke, eller med henblik på at retskrav kan fastlægges, gøres gældende eller forsvares, eller for at beskytte en person eller vigtige samfundsinteresser.

Ret til indsigelse
Du har i visse tilfælde ret til at gøre indsigelse mod vores ellers lovlige behandling af dine personoplysninger. Du kan også gøre indsigelse mod behandling af dine oplysninger til direkte markedsføring.

Du kan læse mere om dine rettigheder i Datatilsynets vejledning om de registreredes rettigheder, som du finder på www.datatilsynet.dk.

Klage til Datatilsynet
Du har ret til at indgive en klage til Datatilsynet, hvis du er utilfreds med den måde, vi behandler dine personoplysninger på. Du finderDatatilsynets kontaktoplysninger på www.datatilsynet.dk.
<p>
Cookies
<br />
Vi anvender ikke vedvarende cookies på vores webside.
</p>
<p>©Copyright<br />
Indholdet på denne hjemmeside er beskyttet i henhold til loven om ophavsret og må ikke kopieres, reproduceres eller distribueres under nogen form -hverken helt eller delvist - uden skriftlig tilladelse fra Doktormanden.DK.
    </p>
Download eller kopiering af billedmateriale og/eller tekst materiale er kun tilladt, hvis der ligger en skriftlig tilladelse fra Doktormanden.DK.

Varemærker/trademarks
Produkt- og virksomheds-navne på dette websted kan være registrere varemærker og beskyttede firmanavne, disse anvendes kun til identifikation og forklaring.Alle varemærker/navne tilhører de respektive ejere.
</p>

</div>