@model DoktormandenDk.Models.Appointment

@{
    ViewData["Title"] = "Opret tidsbestilling";
}

<h1>Opret</h1>

<h4>Tidsbestilling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateForGP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="GPId" />

            <br />
            <div class="form-group">
                <label asp-for="GPId" class="control-label fw-bold">Læge</label>
                @Html.DisplayFor(model => model.GP.Name)
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label fw-bold">Patientens navn</label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.Patients">
                    <option value="" >- Vælg patient -</option>
                </select>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label fw-bold">Vælg tidspunkt</label>
                <select asp-for="AppointmentTime" class="form-control" asp-items="ViewBag.AvailableTimes">
                    - Vælg ledig tid -
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Category" class="control-label fw-bold">Kategori</label>
                <select asp-for="Category" class=" ms-2" asp-items="Html.GetEnumSelectList<Category>()"></select>
            </div>
        
            <div class="form-group">
                <label asp-for="AppointmentMessage" class="control-label fw-bold"></label>
                <input asp-for="AppointmentMessage" class="form-control" />
                <span asp-validation-for="AppointmentMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2"><span><i class="bi bi-file-earmark-plus"></i> Bestil ny tid</span></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Tilbage til listen</a>
</div>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#AppointmentTime").attr("disabled", "disabled");

  
             $("#PatientId").change(function () {

                if ($("#PatientId").val() == null) return false;
                $("#AppointmentTime").removeAttr("disabled");

                var data = {
                    gpId: $("#GPId").val(),
                    patientId: $("#PatientId").val()
                };
        
                $.ajax({
                    type: "GET",
                    url: "/Appointments/GetAvailableTimes", 
                    contentType: "application/json; charset=utf-8",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        // we have new availabletimes ready
                        var availTimesSelectList = $("#AppointmentTime");
                      
                        availTimesSelectList.empty(); // drop existing items
                        availTimesSelectList.append($("<option/>", { value: "", text: "- Vælg ledig tid -" }));

                        // append newly found date/times
                        $.each(result, function (idx, tid) {
                            availTimesSelectList.append($("<option/>", { value: tid, text: tid.replace("T", " ") }));
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            });
        });
    </script>
}
