@model IEnumerable<IUser>
@{
    ViewData["Title"] = "Index";
}
 <div class="container col-4">
    <h2>Bruger Profil</h2>
    <p class="lead fs-5 ">Vælg aktuel profil til systemet</p>

    <form asp-action="SetUser" method="post">

        <select class="form-control" name="username">
        <option value="">- Vælg profil -</option>
        @foreach (IUser user in Model)
        {   
                <option value="@user.UserName">@user.UserName</option>
        }
    </select>

    <button type="submit" class="btn btn-primary mt-3">Gem</button>
 </form>
</div>
