@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

    <h1>Bruger Profil</h1>
    <h3>Vælg aktuel profil i demosystemet</h3>

    <ul class="list-group">
    @foreach (User user in @Model)
    {
        <li class="list-group-item">
            <a asp-action="SetUser" asp-route-id="@user.Id">@user.Name</a>
       </li>
    }
</ul>
